$font-size-main: 24px;
$font-color-dark:#333333;


// // reset

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}

// a{
//     color: inherit;
// }


// style
        h1{

            &.dark{
                font-size: $font-size-main;
                font-weight: bold;
                color: #333333;                 
            }

            &.white{
                font-size: $font-size-main;
                font-weight: bold;
                color: #ffffff;
            }
           
        }

.heading{
    .inner{
        max-width: 475px; 
        margin: 140px auto;

        .heading{
            margin-bottom: 50px;
            width: 476px;        
        }

        .heading1{
            border-bottom: 3px solid #3F51B5;
            padding-bottom: 12px;
        }

        .heading2{
            border-bottom: 3px dashed #3F51B5;
            padding-bottom: 12px; 
        }

        .heading3{
            background: #3F51B5;
            padding-top: 8px;
            padding-bottom: 8px;
            
            h1{
                padding-left: 12px;    
            }
        }

        .heading4{
            background: #7385E9;
            padding-top: 8px;
            padding-bottom: 8px;
                    
            h1{
                padding-left: 12px;    
            }
        }

        .heading5{
            border-left: 5px solid #3F51B5;
            padding-left: 8px;
        }

        .heading6{
            position: relative;

            &::after{
                content:"";
                position: absolute;
                top:18px;
                background: #DCEE39;
                width: 190px;
                height: 16px;
                z-index:-1;

            }
        }

        .heading7{

            span{
                background: #DCEE39;
                line-height: (41 /24);

            }
            
        }

        .heading8{
            position: relative;
            background: #3F51B5;
            padding-top: 8px;
            padding-bottom: 8px;
                    
            h1{
                padding-left: 12px;    
            }

            &::after{
                position: absolute;
                content:"";
                top:100%;
                left: 31px;
                border:15px solid transparent;
                border-top: 15px solid #3F51B5;
                width: 0;
                height: 0;
                
            }
        }

        .heading9{

            position:relative;

            &::before{
                position: absolute;
                content:"";
                background: #B53F4F;
                bottom: -12px;
                width: 83px;
                height: 2px;
                
            }

            &::after{
                position: absolute;
                content:"";
                background: #3F51B5;
                bottom: -12px;
                left:83px;
                width: 392px;
                height: 2px;
            }

        }

        .heading10{
            border-left: 5px solid #3F51B5;
            padding-left: 8px;
        }

        .heading11{
            display: flex;
            justify-content: center;
            position: relative;

            &::after{
                position: absolute;
                top: 48px;
                
                content:"";
                height: 4px;
                width: 52px;
                background: #3F51B5;
                
            }
        }

        .heading12{

            img{
                width: 20px;
                height: 20px;
            }

        }

        .heading13{

            position: relative;

            img{
                position: absolute;
                top: -9px;
                width: 18px;
                height: 21px;
            }

        }

        .heading14{

            display: flex;
            justify-content: center;
            position: relative;

            &::before{
                content:"";
                width: 3px;
                height: 31px;
                background: #3F51B5;
                transform: rotate(-30deg);
                margin-right: 14px;
                margin-top: 2px;

            }

            &::after{
                content:"";
                width: 3px;
                height: 31px;
                background: #3F51B5;
                transform: rotate(30deg);
                margin-left: 14px;
                margin-top: 2px;

            }
        }

        .heading16{

            h1{
                display: inline;
                background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
                background: repeating-linear-gradient(-45deg, #5e75ef, 8px, #9eaaec 8px, #9eaaec 16px);
                padding:0 4px;      
            }
        }

        .heading17{
            position: relative;
            
            h1{
            margin: 0 4px;
            }
        
            &::after{
                content:"";
                position: absolute;
                z-index: -1;
                top: 50%;
                width: 212px;
                height: 18px;
                background: repeating-linear-gradient(-45deg, #5e75ef, 8px, #9eaaec 8px, #9eaaec 16px);
            }
        }
    }


    .heading15{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before{
            content:"";
            background: #3F51B5;
            width: 129px;
            height: 3px;
            margin-right: 10px;
            top:50%;
        }

        &::after{
            content:"";
            background: #3F51B5;
            width: 129px;
            height: 3px;
            margin-left: 10px;
        }

    }    
}



